
body {
  background-color:mintcream;
  margin:0;
  padding:0;
}


.main-content { /*container div for each page*/
  padding: 1%;
}

h1 { 
  text-align: center;
}

p {
  font-size:1.8em;
  margin-left: 17%;
  margin-right:6%;
}


